In [1]:
import pandas as pd
import numpy as np
import regex

In [2]:
df = pd.read_csv('user_details.csv')

In [3]:
df.head()

,URL,Name,Location,Stars,Followers,Following
0,https://github.com/charliesome,Charlie Somerville,"Melbourne, Australia",270,7.8k,103
1,https://github.com/mosh-hamedani,Mosh Hamedani,"Melbourne, Australia",0,3.8k,1
2,https://github.com/JakeLin,Jake Lin,"Melbourne, Australia",575,2.5k,35
3,https://github.com/TheCherno,Yan Chernikov,"Melbourne, Australia",19,2.2k,3
4,https://github.com/radar,Ryan Bigg,"Melbourne, Australia",166,1.7k,5

In [4]:
df['Location'] = 'Melbourne'

In [5]:
df.head()

,URL,Name,Location,Stars,Followers,Following
0,https://github.com/charliesome,Charlie Somerville,Melbourne,270,7.8k,103
1,https://github.com/mosh-hamedani,Mosh Hamedani,Melbourne,0,3.8k,1
2,https://github.com/JakeLin,Jake Lin,Melbourne,575,2.5k,35
3,https://github.com/TheCherno,Yan Chernikov,Melbourne,19,2.2k,3
4,https://github.com/radar,Ryan Bigg,Melbourne,166,1.7k,5

In [6]:
df.shape

(1000, 6)

In [7]:
df.isnull().sum()

URL          0
Name         0
Location     0
Stars        0
Followers    0
Following    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
URL          1000 non-null object
Name         1000 non-null object
Location     1000 non-null object
Stars        1000 non-null object
Followers    1000 non-null object
Following    1000 non-null object
dtypes: object(6)
memory usage: 47.0+ KB

In [9]:
df.Followers = (df.Followers.replace(r'[k]', '', regex=True).astype(float) * \
df.Followers.str.extract(r'[\d\.]+([k])', expand=False).fillna(1).replace(['k'], [10**3]).astype(int))

In [10]:
#df.Following = (df.Following.replace(r'[k]', '', regex=True).astype(float) * \
#df.Following.str.extract(r'[\d\.]+([k])', expand=False).fillna(1).replace(['k'], [10**3]).astype(int))

In [11]:
#df.Stars = (df.Stars.replace(r'[k]', '', regex=True).astype(float) * \
#df.Stars.str.extract(r'[\d\.]+([k])', expand=False).fillna(1).replace(['k'], [10**3]).astype(int))

In [12]:
df.head()

,URL,Name,Location,Stars,Followers,Following
0,https://github.com/charliesome,Charlie Somerville,Melbourne,270,7800.0,103
1,https://github.com/mosh-hamedani,Mosh Hamedani,Melbourne,0,3800.0,1
2,https://github.com/JakeLin,Jake Lin,Melbourne,575,2500.0,35
3,https://github.com/TheCherno,Yan Chernikov,Melbourne,19,2200.0,3
4,https://github.com/radar,Ryan Bigg,Melbourne,166,1700.0,5

In [13]:
df['Followers'] = df['Followers'].astype(str).str[:-2].astype(np.int64)
#df['Following'] = df['Following'].astype(str).str[:-2].astype(np.int64)
#df['Stars'] = df['Stars'].astype(str).str[:-2].astype(np.int64)

In [14]:
df.head()

,URL,Name,Location,Stars,Followers,Following
0,https://github.com/charliesome,Charlie Somerville,Melbourne,270,7800,103
1,https://github.com/mosh-hamedani,Mosh Hamedani,Melbourne,0,3800,1
2,https://github.com/JakeLin,Jake Lin,Melbourne,575,2500,35
3,https://github.com/TheCherno,Yan Chernikov,Melbourne,19,2200,3
4,https://github.com/radar,Ryan Bigg,Melbourne,166,1700,5

In [15]:
df['Popularity_F'] = df['Followers']/df['Followers'].max()*100
#df['Stars%'] = df['Stars']/df['Stars'].max()*100
#df['Following%'] = df['Following']/df['Following'].max()*100

In [16]:
df.head()

,URL,Name,Location,Stars,Followers,Following,Popularity_F
0,https://github.com/charliesome,Charlie Somerville,Melbourne,270,7800,103,100.000000
1,https://github.com/mosh-hamedani,Mosh Hamedani,Melbourne,0,3800,1,48.717949
2,https://github.com/JakeLin,Jake Lin,Melbourne,575,2500,35,32.051282
3,https://github.com/TheCherno,Yan Chernikov,Melbourne,19,2200,3,28.205128
4,https://github.com/radar,Ryan Bigg,Melbourne,166,1700,5,21.794872

In [17]:
df1 = df.set_index("URL", drop = True)

In [18]:
df1.head()

,Name,Location,Stars,Followers,Following,Popularity_F
URL,,,,,,
https://github.com/charliesome,Charlie Somerville,Melbourne,270,7800,103,100.000000
https://github.com/mosh-hamedani,Mosh Hamedani,Melbourne,0,3800,1,48.717949
https://github.com/JakeLin,Jake Lin,Melbourne,575,2500,35,32.051282
https://github.com/TheCherno,Yan Chernikov,Melbourne,19,2200,3,28.205128
https://github.com/radar,Ryan Bigg,Melbourne,166,1700,5,21.794872

In [19]:
df2 = df1.loc["https://github.com/JakeLin","Popularity_F"]
print('The User is in the top',df2,'of Melbourne Github users based on followers')

The User is in the top 32.05128205128205 of Melbourne Github users based on followers